<div style="text-align:right;  margin-right: 10%;">
    <button type="button" mat-fab color="warn" (click)="logout()">
        <i class="material-icons">
          power_settings_new
        </i>
    </button>  
</div>
<div class="mat-elevation-z8">
  <mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.pName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="userSystem">
        <mat-header-cell *matHeaderCellDef mat-sort-header>System</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.userSystem}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.user}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.dateTime}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="wfDetails">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let row;">
            <button mat-icon-button color="primary" (click)="viewApplicationDetails(row)">
                <mat-icon>view_column</mat-icon>
            </button>
          </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 15, 25, 50, 100, 250]">
    </mat-paginator>
</div>

