<div style="text-align:center">
  <circle-progress
    [percent]="percent"
    [maxPercent]="100"
    [toFixed]="0"
    [showTitle]="true"
    [showUnits]="false"
    [showSubtitle]="true"
    [showImage]="false"
    [showBackground]="true"
    [showInnerStroke]="true"
    [clockwise]="true"
    [responsive]="false"
    [startFromZero]="true"
  ></circle-progress>
</div>

<div>
    <mat-table class="full-width-table" [dataSource]="transactionDS" aria-label="Elements">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Wf Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.tName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.tStatus}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateTime">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.dateTime}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="varData">
          <mat-header-cell *matHeaderCellDef [style.display]="'none'">Var Data</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.display]="'none'">
        </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>